.countdown {
  &__heading {
    text-align: center;
    margin-bottom: 1.13rem;
  }

  &__list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 4.5rem);
    gap: 0.88rem;

    margin-bottom: 2.5rem;
  }

  &__item {
    display: grid;
    place-content: center;

    border-radius: 0.25rem;
    background: var(--primary-clr-one);

    padding: 0.56rem 0 0.44rem 0;

    &--signup {
      background: var(--neutral-clr-four);
    }
  }

  &__number {
    color: var(--neutral-clr-one);

    &--signup {
      color: var(--primary-clr-two);
    }
  }

  &__text {
    justify-self: center;
  }
}

@media (min-width: 23.44rem) {
  .countdown {
    &__list {
      display: grid;
      grid-template-columns: repeat(4, 4.5rem);
      gap: 0.88rem;
    }
  }
}

@media (min-width: 43.75rem) {
  .countdown {
    &__heading {
      text-align: center;
      margin-bottom: 0.63rem;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(4, 6.25rem);
      gap: 1rem;

      &--signup {
        margin-bottom: 3.31rem;
      }
    }

    &__item {
      margin-bottom: 3.06rem;
      padding: 1.75rem 0 1.44rem 0;
    }
  }
}

@media (min-width: 62.5rem) {
  .countdown {
    &__heading {
      text-align: start;
      margin-bottom: 3.08px;
    }

    &__list {
      justify-content: start;

      margin-bottom: 0;
    }
  }
}
