.plans-section__plan {
  display: grid;
  grid-template-areas:
    "content"
    "features"
    "btn";

  text-align: center;

  border-radius: 0.81rem;

  padding: 2.5rem 3.31rem 2.5rem 3.31rem;

  box-shadow: 0 3.13rem 3.13rem -1.56rem var(--box-shadow-two);

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    grid-area: content;

    margin-bottom: 3.5rem;
  }

  &-type {
    margin-bottom: 2.31rem;
  }

  &-price {
    margin-bottom: 0.75rem;
  }

  &-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    grid-area: features;

    margin-bottom: 2rem;
  }

  &-btn {
    grid-area: btn;
  }
}

.plan--basic,
.plan--ultimate {
  color: var(--primary-clr-one);
  background: var(--neutral-clr-one);
}

.plan--pro {
  color: var(--neutral-clr-one);
  background: var(--primary-clr-two);
}

.features--basic,
.features--ultimate {
  color: var(--neutral-clr-three);
  opacity: 0.75;
}

.features--pro {
  color: var(--neutral-clr-one);
  opacity: 0.75;
}

@media (min-width: 43.75rem) {
  .plans-section__plan {
    display: grid;
    grid-template-areas:
      "content features"
      "btn features";
    justify-content: space-between;

    padding: 2.94rem 3rem 3.06rem 3.06rem;

    &-content {
      align-items: start;

      margin-bottom: 1.69rem;
    }

    &-type {
      margin-bottom: 0.63rem;
    }

    &-price {
      margin-bottom: 0.44rem;
    }

    &-features {
      align-items: start;
      gap: 1rem;

      margin-bottom: 1rem;
    }
  }

  .features--pro {
    margin-right: 3.25rem;
  }
}

@media (min-width: 68.75rem) {
  .plans-section__plan {
    display: grid;
    grid-template-areas:
      "content"
      "features"
      "btn";
    justify-content: center;

    text-align: center;

    padding: 2.31rem 3rem 2.63rem 3rem;

    &-content {
      align-items: center;

      margin-bottom: 3.56rem;
    }

    &-type {
      margin-bottom: 2.25rem;
    }

    &-price {
      margin-bottom: 0.82rem;
    }

    &-features {
      align-items: center;
      gap: 15px;

      margin-right: 0;
      margin-bottom: 2.25rem;
    }
  }
}
