.footer {
  padding: 5.63rem 1.5rem 6.44rem 1.44rem;

  background: var(--primary-clr-three);

  &__content {
    max-width: 69.38rem;

    display: grid;
    justify-content: center;

    margin-inline: auto;
  }
}

@media (min-width: 43.75rem) {
  .footer {
    padding: 103.08px 24px 103.04px 23.04px;

    background: var(--primary-clr-three);
  }
}
