.header {
  max-width: 90rem;
  display: flex;
  justify-content: center;

  padding: 2.88rem 1.25rem 1.25rem 1.25rem;
}

@media (min-width: 43.75rem) {
  .header {
    justify-content: start;

    padding: 4.5rem 2.44rem 1.25rem 2.44rem;
    margin-bottom: 5rem;
  }
}

@media (min-width: 62.5rem) {
  .header {
    padding: 5.13rem 2.44rem 1.25rem 2.44rem;
  }
}
