.header {
  max-width: 1440px;
  display: flex;
  justify-content: center;

  padding: 46px 20px 20px 20px;
}

@media (min-width: 43.75rem) {
  .header {
    justify-content: start;

    padding: 72px 39px 20px 39px;
  }
}
