.intro-section__container {
  display: grid;
  gap: 4rem;

  & img {
    max-width: 10.69rem;
    justify-self: center;
  }
}

.intro-section {
  padding: 0 1.5rem 0 1.5rem;

  &__content {
    display: grid;
    gap: 1.5rem;

    text-align: center;
  }
}
